/*
color pallet:
#C5D1EB
#92AFD7
#5A7684
#395B50
#1F2F16
*/
body{
    background-color: #1F2F16;
    color: #C5D1EB;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#intro{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px 15px 15px 15px;
}

h1{
    text-align: center;
}


#intro-img{
    width: 100%;
}

#intro-pharagraph{
    padding: 10px 10px 5px 10px;
}

.info-label{
    display: block;
    margin: 5px 10px 10px 10px;
}

.info-input{
    margin: 1px 10px 10px 10px;
    padding: 0px 100px 0px 0px;   
}

