/*
color pallet:
#C5D1EB
#92AFD7
#5A7684
#395B50
#1F2F16
*/
body{
    background-color: #1F2F16;
    color: #C5D1EB;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#intro{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 15px 0px 15px;
}

h1{
    text-align: center;
    font-size: 40px;
}


#intro-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}

#intro-pharagraph{
    background-color: #5A7684;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0px;
    padding: 30px 10px 30px 10px;
}

.info-label{
    display: block;
    margin: 5px 10px 10px 10px;
}

.info-input{
    margin: 1px 10px 10px 10px;
    padding: 0px 100px 0px 0px;   
}

.feedback-label{
    display: block;
    margin: 15px 15px 15px 15px;
}

.feedback-input{
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

.radio-options{
    background-color: #5A7684;
    padding: 20px 20px 20px 20px;
}